/* CSS Document */
	.content {
		padding: 0 100px;
	}
	.content p {
		font-size: 1.2em;
		font-family: "微軟正黑體";
		line-height: 2.4em;
		padding-top: 20px;
	}
	.content .o-title {
		text-align: center;
		font-size: 2rem;
		line-height: 1rem;
	}
	.content .caution{
		color: red;
	}
